*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    height: 50px

    
}
.logo img{
    height: 56px;
    width: 56px;

    border: 3px solid rgb(201, 197, 197);
    border-radius: 50px;
}
.navbar{
    display: flex;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.nav-list{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
     
}
.nav-list li{
    list-style: none;
    padding: 32px 46px;
    font-weight: 700;

}
.nav-list li a{
    text-decoration: none;
    color:  rgb(234, 237, 241)

}
.nav-list li a:hover{
     
    color:  rgb(48, 12, 248);

}
/* .rightnav{
    
    width: 50%;
    text-align: right;
    padding: 12px;
}
.rightnav div button{

    border: solid black;
    border-radius: 12px;
} */
#search{
    border:2px  rgb(236, 235, 235);
    border-radius: 3px;
    padding: 2px;
    font-size: 17px;
    margin-top: 12px;
}

.background{
    background: rgba(0, 0, 0, 0.7) url("/static/img/about umage.jpeg");
    background-blend-mode: darken;
    background-size: cover;
}
.firstsection{
    height: 1500px;
}
.box-main{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    margin: auto;
  
}

h1{
    font-size: 66px;
    font-family: 'Ubuntu', sans-serif;
    color:white;
    font-weight: 700;
 
    
}
.first-half{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 271px;
   
    
}

.marquee{
    color: #9b9a9a;
    font-size: 41px;
    font-family: sans-serif;
}